# Adding Variable To Capture NAN

### CONS
     -> Increse The Dimentionality

In [1]:
import pandas as pd

data = pd.read_csv("Houseprice.csv", usecols=['BsmtQual', 'FireplaceQu', 'GarageType', 'SalePrice'])
data.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [2]:
data.isnull().sum()

BsmtQual        37
FireplaceQu    690
GarageType      81
SalePrice        0
dtype: int64

In [3]:
import numpy as np

data['BsmtQual_var'] = np.where(data['BsmtQual'].isnull(),1,0)

In [4]:
data.head()

  BsmtQual FireplaceQu GarageType  SalePrice  BsmtQual_var
0       Gd         NaN     Attchd     208500             0
1       Gd          TA     Attchd     181500             0
2       Gd          TA     Attchd     223500             0
3       TA          Gd     Detchd     140000             0
4       Gd          TA     Attchd     250000             0

In [6]:
m_f_r = data['BsmtQual'].value_counts().index[0]

In [7]:
data['BsmtQual'].fillna(m_f_r,inplace=True)
data.head()

  BsmtQual FireplaceQu GarageType  SalePrice  BsmtQual_var
0       Gd         NaN     Attchd     208500             0
1       Gd          TA     Attchd     181500             0
2       Gd          TA     Attchd     223500             0
3       TA          Gd     Detchd     140000             0
4       Gd          TA     Attchd     250000             0